extra-streamlit-components==0.1.56
GitPython==3.1.31
joblib==1.2.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.2
plotly==5.14.1
requests==2.31.0
scikit-learn==1.2.2
seaborn==0.12.2
streamlit==1.22.0
streamlit-authenticator==0.1.5
streamlit-lottie==0.0.3
firebase-admin==6.1.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0